<!--
Кабинет:
Название - строка
логотип - фотка
фоточка на заставку в кабинет - фотка
Краткое описание - текстареа
Физический адрес - разбить на отдельные поля
Ссылки в интернете - массив строк
-->
<form [formGroup]="cabinetForm" *ngIf="cabinetForm" style="margin-top: 20px">
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-input-container fxFlex="50%" style="padding:0 10px 0 0">
            <input matInput formControlName="name" type="text" placeholder="{{'CABINET.brand_name_ph' | translate}}">
            <mat-error *ngIf="!cabinetForm.get('name').valid && cabinetForm.get('name').touched">
                <span *ngIf="cabinetForm.get('name').errors.required">{{'FORMS.error_required' | translate}}</span>
            </mat-error>
        </mat-input-container>
        <mat-input-container fxFlex="50%" style="padding:0 10px 0 0">
            <input matInput placeholder="{{'CABINET.region_ph' | translate}}"
                   aria-label="Region"
                   [matAutocomplete]="auto"
                   [formControl]="region">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let region of filteredRegions | async" [value]="region.name">
                    <img style="vertical-align:middle;" aria-hidden src="{{region.flag}}" height="25" />
                    <span>{{region.name}}</span>
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="!cabinetForm.get('region').valid && cabinetForm.get('region').touched">
                <span *ngIf="cabinetForm.get('region').errors.required">{{'FORMS.error_required' | translate}}</span>
                <span *ngIf="!cabinetForm.get('region').errors.required">{{'FORMS.error_region' | translate}}</span>
                <!--add validation-->
            </mat-error>
        </mat-input-container>

    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-input-container fxFlex="50%" style="padding:0 10px 0 0">
            <input matInput formControlName="email" type="email" placeholder="E-mail">
            <mat-error *ngIf="!cabinetForm.get('email').valid && cabinetForm.get('email').touched">
                <span *ngIf="cabinetForm.get('email').errors.required">{{'FORMS.error_required' | translate}}</span>
                <span *ngIf="cabinetForm.get('email').errors.email && !cabinetForm.get('email').errors.required">{{'FORMS.error_email' | translate}}</span>
            </mat-error>
        </mat-input-container>
        <mat-input-container fxFlex="50%" style="padding:0 10px 0 0">
            <input matInput formControlName="fullAddress" type="text" placeholder="{{'CABINET.full_address_ph' | translate}}">
            <mat-error *ngIf="!cabinetForm.get('fullAddress').valid && cabinetForm.get('fullAddress').touched">
                <span *ngIf="cabinetForm.get('fullAddress').errors.required">{{'FORMS.error_required' | translate}}</span>
            </mat-error>
        </mat-input-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="center top">
        <div fxFlex="50%" style="padding:0 10px 0 0">
            <image-upload
                    [max]="1"
                    [class]="'customClass'"
                    buttonCaption="{{'CABINET.logo_btn_caption' | translate}}"
                    [extensions]="['jpg','jpeg','png','gif']"
                    dropBoxMessage="{{'CABINET.logo_drop_msg' | translate}}"
                    clearButtonCaption="Clear logo"
                    clearButtonCaption="{{'CABINET.logo_clear_msg' | translate}}"
                    (uploadFinished)="onLogoUploadFinished($event, 'logoImage')"></image-upload>
        </div>
        <div fxFlex="50%" style="padding:0 10px 0 0">
            <image-upload
                    [max]="1"
                    [class]="'customClass'"
                    buttonCaption="{{'CABINET.cover_btn_caption' | translate}}"
                    [extensions]="['jpg','jpeg','png','gif']"
                    dropBoxMessage="{{'CABINET.cover_drop_msg' | translate}}"
                    clearButtonCaption="Clear cover"
                    clearButtonCaption="{{'CABINET.cover_clear_msg' | translate}}"
                    (uploadFinished)="onLogoUploadFinished($event, 'coverImage')"
            ></image-upload>
        </div>
    </div>
</form>

<!--
<form [formGroup]="cabinetForm" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-input-container fxFlex="50%" style="padding:0 10px 0 0">
            <input matInput formControlName="email" type="email" placeholder="email">&lt;!&ndash;disabled value="Google"&ndash;&gt;
            <mat-error *ngIf="!cabinetForm.get('email').valid && cabinetForm.get('email').touched">
                <span *ngIf="cabinetForm.get('email').errors.required">This field is required</span>
                <span *ngIf="cabinetForm.get('email').errors.email && !cabinetForm.get('email').errors.required">Email is invalid</span>
            </mat-error>
        </mat-input-container>
        <mat-input-container fxFlex="50%" style="padding:0 0 0 10px">
            <input matInput formControlName="password" type="password" placeholder="password">
            <mat-error *ngIf="!cabinetForm.get('password').valid && cabinetForm.get('password').touched">
                <span *ngIf="cabinetForm.get('password').errors.required">This field is required</span>
            </mat-error>
        </mat-input-container>
    </div>
    <button mat-raised-button color="primary" [disabled]="!cabinetForm.valid" type="submit">Submit</button>
</form>-->
