<!--
<div class="container">
    <div style="margin: 20px 0;">
        &lt;!&ndash;<a routerLink="/">Home</a>
        <a routerLink="/lazy">Lazy</a>&ndash;&gt;
        <a [routerLink]="['/'] | localize">App</a>
        <a [routerLink]="['/home'] | localize">Home</a>
        <a [routerLink]="['/lazy'] | localize">Lazy</a>
        <a [routerLink]="['lazy/nested'] | localize">Lazy_Nested</a>
        <a [routerLink]="['/admin'] | localize">Admin</a>
    </div>
    <div [innerHTML]="'CABINET.brand_name_ph' | translate">
    </div>
    <app-lang-switcher></app-lang-switcher>
</div>-->


<header class="header">
    <div class="wrap">
        <nav class="nav">
            <div class="nav-item">
                <a href="javascript:void(0);" [routerLink]="['/'] | localize" class="nav-link">{{'HEADER.home' | translate}}<!--О нас--></a>
            </div>
            <div class="nav-item">
                <a href="javascript:void(0);" class="nav-link">{{'HEADER.about_us' | translate}}<!--О нас--></a>
            </div>
            <div class="nav-item">
                <a href="javascript:void(0);" class="nav-link">{{'HEADER.help' | translate}}<!--Помощь--></a>
            </div>
            <!--<div class="nav-item">
                <a href="javascript:void(0);" class="nav-link">Блог</a>
            </div>-->
            <div class="nav-item">
                <a href="javascript:void(0);" [routerLink]="['/contacts'] | localize" class="nav-link">{{'HEADER.contacts' | translate}}<!--Контакты--></a>
            </div>
            <div class="nav-item">
                <a href="javascript:void(0);" [routerLink]="['/admin'] | localize" class="nav-link">{{'HEADER.admin' | translate}}<!--Помощь--></a>
            </div>
        </nav>
        <div class="header-actions">
            <div class="lang">
                <app-lang-switcher></app-lang-switcher>
            </div>
            <div class="admin-nav">
                <!--<app-menu></app-menu>-->
            </div>
        </div>
    </div>
</header>
