<main class="site-content">
    <section class="main">
        <h1 class="visually-hidden">Ukraine Secrets</h1>
        <div class="main-logo">
            <div class="main-logo_img"></div>
            <span class="main-logo_text">All about Ukrainian brands</span>
        </div>
        <div class="main-nav">
            <div class="main-nav_item main-nav_gender">
                <a href="javascript:void(0);" class="main-nav_link active">Мужчины</a>
                <span class="main-nav_sep"></span>
                <a href="javascript:void(0);" class="main-nav_link">Женщины</a>
            </div>
            <div class="main-nav_item">
                <a href="javascript:void(0);" class="main-nav_link">Одежда</a>
            </div>
            <div class="main-nav_item">
                <a href="javascript:void(0);" class="main-nav_link">Обувь</a>
            </div>
            <div class="main-nav_item">
                <a href="javascript:void(0);" class="main-nav_link">Для взрослых</a>
            </div>
            <div class="main-nav_item">
                <a href="javascript:void(0);" class="main-nav_link">Для детей</a>
            </div>
            <div class="map">
                <a href="javascript:void(0);" class="map-link">Карта</a>
                <span class="map-link_decor"></span>
            </div>
        </div>
    </section>

    <section class="search">
        <div class="wrap">
            <h1 class="title">Результаты поиска</h1>
            <div class="search-b">
                <!-- Search Item -->
                <div class="search-item">
                    <div class="search-item_b">
                        <div class="search-item_img" style="background-image: url(./assets/images/place_1.jpg);"></div>
                        <div class="search-item_logo" style="background-image: url(./assets/images/place_logo_1.png);"></div>
                        <div class="search-item_desc">
                            <div class="search-item_info">
                                <div class="search-item_name">“Гешефт”</div>
                                <div class="search-item_address">Екатерининская, 5, Одесса, Украина</div>
                                <div class="search-item_phone">
                                    <a href="tel:+380931646589">+38(093) 164 - 65 - 89</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-item_b search-item_actions">
                        <div class="search-item_wrap">
                            <a href="javascript:void(0);" class="search-item_link">Cabinet</a>
                            <a href="javascript:void(0);" class="search-item_link">Showroom</a>
                            <a href="javascript:void(0);" class="search-item_link">Events</a>
                        </div>
                    </div>
                </div>

                <!-- Search Item -->
                <div class="search-item">
                    <div class="search-item_b">
                        <div class="search-item_img" style="background-image: url(./assets/images/place_2.jpg);"></div>
                        <div class="search-item_logo" style="background-image: url(./assets/images/place_logo_2.png);"></div>
                        <div class="search-item_desc">
                            <div class="search-item_info">
                                <div class="search-item_name">“Askotaxist”</div>
                                <div class="search-item_address">ул. Вицеадмирала Азарова / Трасса Здоровья, Одесса, Украина</div>
                                <div class="search-item_phone">
                                    <a href="tel:+380931363511">+38(093) 136 - 35 - 11</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-item_b search-item_actions">
                        <div class="search-item_wrap">
                            <a href="javascript:void(0);" class="search-item_link">Cabinet</a>
                            <a href="javascript:void(0);" class="search-item_link">Showroom</a>
                            <a href="javascript:void(0);" class="search-item_link">Events</a>
                        </div>
                    </div>
                </div>

                <!-- Search Item -->
                <div class="search-item">
                    <div class="search-item_b">
                        <div class="search-item_img" style="background-image: url(./assets/images/place_3.jpg);"></div>
                        <div class="search-item_logo" style="background-image: url(./assets/images/place_logo_3.png);"></div>
                        <div class="search-item_desc">
                            <div class="search-item_info">
                                <div class="search-item_name">“Kapkan-Shop”</div>
                                <div class="search-item_address">ул. Рейтарская 9, Киев, Украина</div>
                                <div class="search-item_phone">
                                    <a href="tel:+380930887525">+38(093) 088 - 75 - 25</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-item_b search-item_actions">
                        <div class="search-item_wrap">
                            <a href="javascript:void(0);" class="search-item_link">Cabinet</a>
                            <a href="javascript:void(0);" class="search-item_link">Showroom</a>
                            <a href="javascript:void(0);" class="search-item_link">Events</a>
                        </div>
                    </div>
                </div>

                <div class="search-more">
                    <a href="javascript:void(0);" class="search-more_link">Показать еще</a>
                </div>

            </div>
        </div>
    </section>
    <section class="about">
        <div class="wrap">
            <h1 class="title">Заголовок</h1>
            <p class="about-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet expedita veniam enim maxime dolor est ab, mollitia harum, quasi delectus quisquam quia dolorem minima reiciendis recusandae ipsa totam repellendus sint.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet expedita veniam enim maxime dolor est ab, mollitia harum, quasi delectus quisquam quia dolorem minima reiciendis recusandae ipsa totam repellendus sint.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet expedita veniam enim maxime dolor est ab, mollitia harum, quasi delectus quisquam quia dolorem minima reiciendis recusandae ipsa totam repellendus sint.
            </p>
        </div>
    </section>
</main>